.champ-match{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2C2C2C;
    width: 100%;
    border-radius: .5rem;
    margin: .1rem;
}

.champ-match__team-area-image{
    border-radius: .5rem;
}

.champ-match__team-area,.champ-match__versus-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}