/* create-team */
.create-team,
.create-team__header,
.create-team form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-team__image {
  width: 8.125rem;
}
.create-team__title {
  margin: 1rem;
  font-size: medium;
  font-weight: 500;
}

.create-team__image-label {
  color: #49454f;
  font-size: small;
  margin-top: 0.5rem;
}

.create-team__input-and-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.create-team__input-and-button .input-item {
  width:    50%;
}
.create-team__input-and-button .input-item input {
  width: 90%;
}

.create-team__input-and-button .button-item {
  width: 30%;
  margin: 0;
}
.create-team__button-area {

  width: 50%;
}
.create-team__button-area a {
  margin: 1rem 0.5rem;
}