.team-card {
  display: flex;
  flex-direction: row;
  background-color: #2c2c2c;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.team-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.team-card__image {
  width: 6.25rem;
  border-radius: 0.5rem;
}

.team-card__text-area {
  color: #fff;
}

.team-card__button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

/* button-area */
.button-area__image {
  width: 2.5rem;
}

.team-card__image, .button-area__image{
  width: 100px;
  height: auto;
  border-radius: 50%;
}