.appointment-card {
  border: 1px solid black;
  width: 20.5rem;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.appointment-card p {
  color: #fff;
  padding-top: 0.5rem;
}

.appointment-card a,
.appointment-card__delete-button {
  color: #14ae5c;
  text-decoration: none;
  border: 1px solid #14ae5c;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.appointment-card__button-area {
  margin: 1rem;
}
.appointment-card__delete-button {
  background-color: transparent;
  color: #f00;
  border: 1px solid #f00;
  font-size: 1rem;
}
