/* button-item */
.button-item__link {
    display: flex;
    background-color: #1e1e1e;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    width: 100%;
    height: 2.5rem;
    color: #14ae5c;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 1rem;
    padding: .5rem;
  }
  
  .button-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
  .button-item span {
    font-size: 1rem;
    text-align: center;
  }
  